@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

 /* *{
    border: 1px solid red
}

body{
    border: 2px dashed green;
}   */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* shared styles */
.orange-color{
    color: rgb(230, 83, 60);

}

.display-flex{
    display: flex;
}



.light-dark1{
    color: rgba(255, 255, 255, 0.5);
}

.light-dark2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}

.white{
    color: rgb(255, 255, 255);
}

/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;



}

.nav-item{
    list-style: none;
    margin-right: 45px;

}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.13rem;
    color: rgb(255, 255, 255);
    padding: 4px;
}

.nav-links{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;

width: 465px;
height: 46px;
justify-content: center;
align-items: center;

}

.hamburger{
    display: none;
}

#home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    width: 92px;
    height: 38px;

    padding: 8px 20px 8px 20px;
}
 .title{
 font-weight: 800;
 font-style: italic;
 font-size: 2.25rem;
 

}


/* banner styles */

/* .banner{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    width: 1440px;
    height: 715px;

} */

#image1{
    /* width: 349px;
height: 580px; */
width: 100%;
}

 html, body {
    margin: 0;
    height: 100%;
    background-color: #000;

    /* padding: 0; */
}

.inter-font {
    height: 100%;
 }

.bg{
    /* background-color: rgba(119, 119, 119, 0); */

    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */

    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */

    /* background: rgb(0, 0, 0); */

   /* background: rgb(36, 35, 35); */

   background: linear-gradient(to bottom,#000000,#434343,#000000);

   /* height: 100%; */
   /* width: 100%; */

   /* margin: -19px 0 0 0; */

   /* width: 100vw;
   min-height: 100vh; */
/*
   width: 1440px;
   height: 715px; */




}

.navbar, .banner-left{
  max-width: 1440px;
  /* width: auto; */
  margin: 0 auto;
}

.banner-left{

    text-align: left;
    justify-content: left;
    /* border: 2px solid red; */
    /* position: absolute; */
    width: 599.05px;

    /* height: 440px; */

    /* left: 100px;
    top: 199px; */
    margin-left: 200px;



}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;



}

#first-image{
    margin-right: 200px;
    width: 349px;
    height: 580px;
}

#shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 4.87rem;

}


.banner-title{
    font-weight: 900;
    font-size: 4.87rem;
    color: rgb(255, 255, 255);

}

.banner-description{
    font-weight: 400;
    font-size: 1rem;
}



.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.btn-secondary{

    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: black;
}

.btn{
    display: flex;
    gap: 14px;
}

.bottom-container {
    display: flex;
            align-items: center;
            backdrop-filter: blur(15.12px);
            background: rgba(48, 48, 48, 0.54);
            padding: 10px 20px;
            border-radius: 9.07px;
            color: white;
            border: 0.76px solid rgba(255, 255, 255, 0.1);

            width: 155.74px;
height: 72.58px;
/* left: 32px;
top: 800.38px; */

margin-left: -100px;
margin-top: -170px;


}
.circle {
    width: 40px;
    height: 40px;
    background-color: #e34f26; /* Orange color */
    border-radius: 50%;
    margin-right: 10px;
}
.text {
    display: flex;
    flex-direction: column;
}
.text .title1 {
    font-weight: bold;
    font-size: 1.5rem;
    font-style: normal;

}
.text .subtitle {
    font-size: 1rem;
    opacity: 0.8;
    font-style: normal;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 5px;
}


.top-container{

    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    /* padding: 10px 20px; */
    border-radius: 12px;
    color: white;
    border: 0.76px solid rgba(255, 255, 255, 0.1);

    width: 193px;
    height: 98px;
    margin-left: 250px;
   margin-top: -370px;

}

.title2{
    font-weight: 900;
    font-size: 2.5rem;
}



/* section2 styles */


.section2-container{
   margin-top: 0;
   /* width: 1440px; */

    height: auto;
    background: rgb(0, 0, 0);
    background-size: cover;
    overflow: hidden;

}

.section2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section2-text h3{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.section2-text p{
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    margin-top: 0;
}

.pic-cards h5{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;

    margin-bottom: 6px;

}



.pic-cards img{
    border-radius: 50% ;
    border: 4px solid rgb(39, 37, 37);
    margin-bottom: 6px;
}



.pic-cards{
    display: flex;
    
    justify-content: space-evenly;
    margin-top: 58px;

    
    /* flex-wrap: wrap; */
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;


}


/* section3 styles */

.section3-container{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    background-size: cover;
    overflow: hidden;
    width: 1060px;
    height: 371px; /*changed from 371 px  */ 
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px; /* changed */
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.section3-left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    gap: 14px;

    /* margin-top: 5px; */
}

.section3-left-container h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    width: 443px;
    height: auto;
    margin-bottom: 14px;
    /* border: 2px solid red; */
     margin-top: 20px;
/* line-height: 120%;
letter-spacing: 0%; */

}



.section3-left-container p{
    width: 443px;
height: auto;
/* line-height: 24px; */
/* margin-top: 0px; */


/* Full width for larger screens */
overflow-wrap: break-word;
word-wrap: break-word;
white-space: normal;

}
.section3-right-container{
    justify-content: center;
    align-items: center;

    /* overflow: hidden;  */
}


.section3-right-container img{
    width: 366px;
height: 312px;


/* background-repeat: no-repeat;
background-size: cover;
background-position: center; */
 object-fit: none;
object-position: 66% 33%;
/*
transform: scale(1.5); /* Zoom in the image */
    /* transform-origin: 66% 33%;  */

    /* object-fit: cover; */
    /* transform: scale(2.5) translate(-61px,12%); */

border-radius: 18px;
}

.btn-primary2{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 224px;
    height: 54px;
}


/* section 4 styles */
.section4-container{
   
    /* margin: 0 auto; */
    width: 671px;
    height: 120px;

    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 14px;

    margin-top: 90px;
    margin-bottom: 88px;
     

}

.section4-content{
    
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    /* border: 2px solid red; */
    
    
}

.section4-content h1{
    font-size: 3rem;
    font-weight: 900;
    /* width: 353px;
    height: 58px; */
    
}

/* section5 styles */
.section5-container{
    
    background: rgb(34, 34, 34);
    /* width: 1440px; */

height: 487px;
background-size: cover;
/* margin: 0 auto; */
display: flex;
justify-content: space-between;
/* justify-content: center; */
/* align-items: center; */
padding: 80px;
/* gap: 50px; */



/* border-radius: 18px;
    background: rgb(34, 34, 34);
    background-size: cover;
    overflow: hidden;
    width: 1060px;
    height: 371px; 
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px; 
    display: flex;
    justify-content: space-around;
    align-items: center; */
}

.section5-left-container{
     width: 700px; 
    /* height: 450px;  */
    /* border: 2px solid red; */
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.section5-left-container h3{
    font-size: 1.75rem;
font-weight: 900;
}



table {
    border-collapse: collapse;
    width: 310px;
height: 216px;
    
}
th{
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
}

td,
th {
    /* border: 1px solid black; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
}

.form{
    gap: 14px;
    
}
.section5-right-container{
    /* border: 2px solid red; */
}

.section5-right-container h3{
    font-size: 1.75rem;
font-weight: 900;
}

.row-1, .row-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 1rem 0;
}

.row-1 label{
    border-radius: 8px;

background-color: rgba(255, 255, 255, 0.1);
padding: 12px 40px 12px 20px;
}

.row-1 label input {
    border: none;
    background: transparent;
    color: rgba(255, 255, 255, 0.6);;
    font-size: 1rem;
    outline: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.row-1 label input::placeholder {
    color: rgba(255, 255, 255, 0.6); 
}

.row-2 label{
    border-radius: 8px;

background-color: rgba(255, 255, 255, 0.1);
padding: 12px 40px 12px 20px;
}

.row-2 label input{
    border: none;
    background: transparent;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    outline: none;
    width: 100%;
    padding: 0;
    margin: 0;
    appearance: none;
}
.row-2 label input::placeholder {
    color: rgba(255, 255, 255, 0.6); 
}


   
.row-2 select{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 12px 20px 12px 20px;
    color:  rgba(255, 255, 255, 0.6);
    border: none;
    font-size: 1rem;
}

.row-2 select option{
    color:  black;
}

.row-2 select option::placeholder{
    color: rgba(255, 255, 255, 0.6); 
}


.row-3 select{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 12px 20px 12px 20px;
    color:  rgba(255, 255, 255, 0.6);
    border: none;
    font-size: 1rem;
    width: 100%
}

.row-3 select option{
    color:  black;
}

.row-3 select option::placeholder{
    color: rgba(255, 255, 255, 0.6); 
}

.row-4 button{
    margin-top: 34px;
}

/* section 6 styles */

.section6-container{
   
    
     width: 671px;
    height: 120px;

    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 14px;

    margin-top: 90px;
    margin-bottom: 88px;
      

}

.section6-content{
    
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

.section6-content h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
    
    
}


/* section 6(7) styles */

.section7-container{
    width: 1060px;
height: auto;
border-radius: 18px;

background: rgba(255, 255, 255, 0.1);

background-size: cover;
    overflow: hidden;
    margin: 0 auto;

    padding: 20px;
}

.section7-container img{
    width: 326.67px;
height: 272px;
align-self: stretch;
border-radius: 18px;
filter: brightness(80%);



}

.image-row-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    /* margin: 1rem 0; */
}

.image-row-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 1rem 0;
}


.image-1 {
    position: relative; 
}

.bottom-left{
    /* position: absolute; */
     /* top: 50%;
    left: 50%;
    transform: translate(30%,30%); */
    /* position: absolute;
  bottom: 8px;
  left: 16px;
  z-index: 10; */
  
  position: absolute; 
  /* gap: 5px; */
  z-index: 10;
  margin-top: -85px;
  margin-left: 20px;


    
} 

.bottom-left h3{
margin-bottom: 5px;
}


/* section 8/challenge styles */
.section8-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.card1, .card2 {
    width: 500px;
    /* border: 2px solid white; */
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card1 img{
   /* width: 100%; */

   border-radius: 50% ;
   border: 4px solid rgb(39, 37, 37);
   margin-bottom: 6px;
}

.card2 img{
    border-radius: 50% ;
   border: 4px solid rgb(39, 37, 37);
   margin-bottom: 6px;
}

.section8-header{
    /* width: 671px;
    height: 120px; */
   
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 14px;

    margin-top: 90px;
    margin-bottom: 88px;
    /* border: 2px solid red; */
      
}

.section8-header h3{
    font-size: 3rem;
    font-weight: 900;
}

/* section9 styles */
.section9-container{
    width: auto;
    height: auto;
    /* border-radius: 18px; */
    background: rgba(255, 255, 255, 0.1);
    /* background-size: cover; */
    background-size: cover;
    /* border: 2px solid red; */
    /* margin: 30px; */
  
    padding: 40px;
    
    margin-top: 80px;
    
    
}

.container1{
    width: 443px;
    height: auto;
    padding: 0px;
    /* border-radius: 2px solid white; */
    /* border: 2px solid red; */
   
   
    

}


.container-row-1{
    /* display: grid;
     grid-template-columns: 1fr 1fr 1fr;  */
     display: flex;
      justify-content: space-evenly; 
      /* align-items: center; */
      align-items: center;
     /* margin: 0 auto;
     justify-content: center;
     align-items: center; */
     margin-bottom: 30px;
     /* border: 2px solid red; */
     /* margin: 0 auto;
     padding: 0; */
   

  
}

.container4 hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    
}

.container4{
    text-align: center;
    
}
.container4 p{
    font-size: 20px;
font-weight: 400;
}

.container1 h1{
    margin-top: 0;
    font-size: 4.375rem;
    font-weight: 800;
     
}
.container2 p{
    font-size: 1.4rem;
font-weight: 400;
}
.container3 p{
    font-size: 1.4rem;
font-weight: 400;
}



.container2 h3{
    font-size: 2rem;
   font-weight: 700;
}
.container3 h3{
    font-size: 2rem;
   font-weight: 700;
}

/* responsive */


@media screen and (max-width: 576px){

    .circle{
        width: 50%;
        height: 50%;
    }

    .nav-links{
        display: none;
    }

    .hamburger{
        display: block;
        margin-right: 20px;
    }

    .banner-title{
        font-size: 2rem;
        width: 285px;


    }

    .banner-description{
     font-size: 1rem;
     width: 274px;
    height: 96px;
    }

    .banner-left{
        margin-left: 20px ;
        display: flex;
        flex-direction: column;
        width: fit-content;


    }

    .btn{
        display: flex;
        gap: 14px;

    }
    .btn a{
        text-decoration: none;
    }

    .btn-primary, .btn-secondary{
        width: 169px;
        white-space: nowrap;
        overflow: hidden;
        padding: 20px 40px 20px 40px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;




    }

    .bottom-container .subtitle{

        white-space: nowrap;
        overflow: hidden;
    }

    .banner{
        display: flex;
        flex-direction: column;
    }

    #first-image{
        display: flex;
        flex-direction: column;
        /* width: 80%; */
        width: fit-content;
        margin: 0 auto;
    }

    .top-container{
        position: relative;
        margin-left: 200px;
        width: 130px;

    }

    .top-container title2{
         font-size: 1.75rem;
    }

    .top-container .subtitle{
        font-size: 0.75rem;
    }

    .bottom-container{
        margin-left: 0;
        width: 140px;


    }

    .navbar .title{
        margin-left: 20px;
    }


    /* section2 responsive */
    
    .section2-container{
        height: auto;

    }
    .section2-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-top: 100px; */
    }

    .section2-text h3{
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 14px;
    }

     /* .section2-text p{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 0;
         font-size: 0.875rem;
    }   */

    .pic-cards{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }


    /* section 3 responsive */

    .section3-container{
        width: auto;

        height: auto;
        /* margin: 0 auto; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: 40px;
        gap: 30px;

        margin: 10px 10px;
        margin-top: 50px;




    }

    .section3-left-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start; 
        width: 100%; 
        padding: 20px;
        margin: 0;

    }

    .section3-left-container h1{
        font-size: 2rem;
        font-weight: 900;

         text-align: left;
         margin: 0; 
         padding: 0;
        

    }


    .section3-left-container p{
        font-size: 14px;
        /* width: 100%; */
        line-height: 1.5; 
        padding: 0 ; 
        white-space: normal; 
        overflow-wrap: break-word; 
        word-wrap: break-word;

        width: 287px;
        height: 96px;
   

    } 

    /* section 4 responsive */

   .section4-container{
    width: 100%;
    margin-top: 20px;
   }
    .section4-content{
        
        
        gap: 30px;
        padding: 40px;
        /* margin: 10px 10px; */
        width: 100%;
       
    }
    .section4-content h1{
        font-size: 2rem;
    }


     /* section 4(5) body styles */

     .section5-container{
        width: 100%;
        height: auto;
        align-items: left;

        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 30px;
     }

     .section5-left-container h3{
        font-size: 1rem;
      
        
     }

     .section5-left-container table{
        width: 310px;
        height: 216px;
        margin-top: 30px;

     }

     .section5-right-container h3{
        font-size: 1rem;
     }
     
     .section5-right-container{
        width: 354px;
         height: 395px;
     }

     .section5-right-container form{
        margin-top: 30px;
     }


      /* section 6 responsive */

   .section6-container{
    /* width: 100%;
    height: 100%; */
   

  /* margin: 0 auto; */

        display: flex;
        display: inline;
        flex-direction: column;
        align-items: center;
        text-align: center;
      

      width: 309px;
      height: 124px;

      
    
   }
    .section6-content{
        margin: 0 auto;
        
        gap: 30px;
        padding: 40px;
       
       
    }
    .section6-content h1{
        font-size: 2rem;
    }
    
    /* section 6(7) responsive */

    .section7-container{
       
        width: 353px;
        height: auto;

    /* align-items: center;
    padding: 20px; */



    }

    .image-row-1{
        grid-template-columns: 1fr;
        /* align-items: center; */
       
        padding: 20px;
    }


    
    .image-row-2{
        margin: 0;
        grid-template-columns: 1fr;
        padding: 0px 20px 20px 20px;
        
    }
/* 
    section 8/challenge responsive */

    .section8-container{
        display: flex;
        flex-direction: column;
        gap: 14px;
    
        
    }
    .section8-header h3{
        font-size: 2rem;
        margin: 10px;
        
        
        
    }

    .card1{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* margin: 0 auto; */
        width: auto;
        
        height: auto;
        padding: 20px;
        /* margin-left: 0px;
        margin-right: 20px; */
       /* margin-left: -100px; */
       margin: 30px;
        
    }

    .card2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* margin: 0 auto; */
        width: auto;
        
        height: auto;
        padding: 20px;
        /* margin-left: 0px;
        margin-right: 20px; */
       /* margin-left: -100px; */
       margin: 30px;
        
    }


    /* section 9  */
     .container-row-1{
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left; */
        display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
    } 

    .container1{
      width: fit-content;
    }
    .container1 p{
        /* border: 2px solid red; */
        /* width: 100%;
        height: auto; */
        width: 317px;
height: 96px;
    }

   



 

    




   


}