@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* shared styles */
.orange-color{
    color: rgb(230, 83, 60);

}

.display-flex{
    display: flex;
}

.light-dark1{
    color: rgba(255, 255, 255, 0.5);
}

.light-dark2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}

.white{
    color: rgb(255, 255, 255);
}

/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;



}

.nav-item{
    list-style: none;
    margin-right: 45px;

}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.13rem;
    color: rgb(255, 255, 255);
    padding: 4px;
}

.nav-links{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;

width: 465px;
height: 46px;
justify-content: center;
align-items: center;

}

.hamburger{
    display: none;
}

#home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    width: 92px;
    height: 38px;

    padding: 8px 20px 8px 20px;
}
 .title{
 font-weight: 800;
 font-style: italic;
 font-size: 2.25rem;
 
}


/* banner styles */

/* .banner{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    width: 1440px;
    height: 715px;

} */

#image1{
    /* width: 349px;
height: 580px; */
width: 100%;
}

 html, body {
    margin: 0;
    height: 100%;
}

.inter-font {
    height: 100%; 
 }   

.bg{
    /* background-color: rgba(119, 119, 119, 0); */

    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */

    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */

    /* background: rgb(0, 0, 0); */

   /* background: rgb(36, 35, 35); */

   background: linear-gradient(to bottom,#000000,#434343,#000000);

   /* height: 100%; */
   /* width: 100%; */

   /* margin: -19px 0 0 0; */

   /* width: 100vw;
   min-height: 100vh; */
/* 
   width: 1440px;
   height: 715px; */

  


}

.navbar, .banner-left{
  max-width: 1440px;
  margin: 0 auto;
}

.banner-left{

    text-align: left;
    justify-content: left;
    /* border: 2px solid red; */
    /* position: absolute; */
    width: 599.05px;

    /* height: 440px; */

    /* left: 100px;
    top: 199px; */
    margin-left: 200px;



}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;



}

#first-image{
    margin-right: 200px;
    width: 349px;
    height: 580px;
}

#shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 4.87rem;

}


.banner-title{
    font-weight: 900;
    font-size: 4.87rem;
    color: rgb(255, 255, 255);

}

.banner-description{
    font-weight: 400;
    font-size: 1rem;
}



.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.btn-secondary{

    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: black;
}

.btn{
    display: flex;
    gap: 14px;
}

.bottom-container {
    display: flex;
            align-items: center;
            backdrop-filter: blur(15.12px);
            background: rgba(48, 48, 48, 0.54);
            padding: 10px 20px;
            border-radius: 9.07px;
            color: white;
            border: 0.76px solid rgba(255, 255, 255, 0.1);

            width: 155.74px;
height: 72.58px;
/* left: 32px;
top: 800.38px; */

margin-left: -100px;
margin-top: -170px;


}
.circle {
    width: 40px;
    height: 40px;
    background-color: #e34f26; /* Orange color */
    border-radius: 50%;
    margin-right: 10px;
}
.text {
    display: flex;
    flex-direction: column;
}
.text .title1 {
    font-weight: bold;
    font-size: 1.5rem;
    font-style: normal;

}
.text .subtitle {
    font-size: 1rem;
    opacity: 0.8;
    font-style: normal;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 5px;
}


.top-container{

    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    /* padding: 10px 20px; */
    border-radius: 12px;
    color: white;
    border: 0.76px solid rgba(255, 255, 255, 0.1);

    width: 193px;
    height: 98px;
    margin-left: 250px;
   margin-top: -370px;

}

.title2{
    font-weight: 900;
    font-size: 2.5rem;
}



/* section2 styles */


.section2-container{
   margin-top: 0;
   /* width: 1440px; */
    height: 4650px;
    background: rgb(0, 0, 0);
    background-size: cover;
    overflow: hidden;
  
}

.section2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section2-text h3{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.section2-text p{
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    margin-top: 0;
}

.pic-cards h5{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;

    margin-bottom: 6px;

}



.pic-cards img{
    border-radius: 50% ;
    border: 4px solid rgb(39, 37, 37);
    margin-bottom: 6px;
}



.pic-cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 58px;

    /* flex-wrap: wrap; */
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  
    
}

















/* responsive */

@media screen and (max-width: 576px){

    .circle{
        width: 50%;
        height: 50%;
    }

    .nav-links{
        display: none;
    }

    .hamburger{
        display: block;
        margin-right: 20px;
    }

    .banner-title{
        font-size: 2rem;
        width: 285px;
        

    }

    .banner-description{
     font-size: 1rem;
     width: 274px;
    height: 96px;
    }

    .banner-left{
        margin-left: 20px ;
        display: flex;
        flex-direction: column;


    }

    .btn{
        display: flex;
        gap: 14px;
      
    }
    .btn a{
        text-decoration: none;
    }

    .btn-primary, .btn-secondary{
        width: 169px;
        white-space: nowrap;
        overflow: hidden;
        padding: 20px 40px 20px 40px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        
       

    }

    .bottom-container .subtitle{
        
        white-space: nowrap;
        overflow: hidden;
    }

    .banner{
        display: flex;
        flex-direction: column;
    }

    #first-image{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .top-container{
        position: relative;
        margin-left: 200px;
        width: 130px;

    }

    .top-container title2{
         font-size: 1.75rem;
    }

    .top-container .subtitle{
        font-size: 0.75rem;
    }

    .bottom-container{
        margin-left: 0;
        width: 140px;
        
        
    }

    .navbar .title{
        margin-left: 20px;
    }


    /* section2 responsive */

    .section2-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-top: 100px; */
    }

    .section2-text h3{
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 14px;
    }
    
     /* .section2-text p{
        text-align: center;
        justify-content: center;
        align-items: center; 
        margin-top: 0; 
         font-size: 0.875rem; 
    }   */
  
    .pic-cards{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }


}